<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <style type="text/css">
        .class1{
            color:red;
        }
        .class2{
            border:1px solid green;
            width:150px;
            height:150px;
        }
    </style>

</head>
<body>
<div id="app"  style="width: 400px;height: 1500px;background-color:lightgrey"  v-bind:title="message|addboundary" v-on:click="dianjidiv('arg1')" >
    {{message}}
    <p v-if="seen">
        this is p
    </p>
    <ol id="ol1">
        <li v-for="(item ,index) in items">
           {{index}}  姓名：{{ item.name}} 年龄：{{item.age}}
        </li>
    </ol>
    <ul>
       <template v-for="item in items">
           <span style="color:red">...</span>
           <li>{{item.name}}</li>
       </template>
    </ul>

    <ul>

            <li v-for="(item,key,index) in object1">
                {{index}}
                {{key=='name'? '姓名:'+item:''}}
                {{key=='age'? '年龄:'+item:''}}
            </li>
    </ul>
    <p>
        <span v-for="n in 20">{{ n }}</span>
    </p>
    <p>
        {{input_message}}
    </p>
    <p v-html="message">
        <!-- 将message 作为html插入-->
    </p>
    <p >
        {{ num | plus(4) }}
    </p>
    <p>
        计算属性：{{calcPro1}}
    </p>
    <p v-bind:style="style1">
        stylesheet
    </p>
    <p v-bind:class="[class1, class2] ">
        中国
    </p>
    <p v-on:click.stop="counterFunc('arg1',$event )">
        你被点击了{{counter}}次数
    </p>

    <input  type="text" v-on:keyup.stop.enter="enterKeyFunc" placeholder="测试按钮修饰符"/>
    <input type="text" v-model="username" name="username" placeholder="请输入用户名">
    <textarea v-model.trim="username"></textarea>
    <span style="color:red">{{username}}</span>

    <input type="checkbox" name="checkbox1" v-model="checkboxArr"  value="nan"/>
    <label for="checkboxArr"> 男</label>
    <input type="checkbox" name="checkbox1" v-model="checkboxArr"  value="nv"/>
    <label for="checkboxArr"> 女</label>
    <input type="checkbox"  name="checkbox1" v-model="checkboxArr"  value="zhong"/>
    <label for="checkboxArr"> 保密</label>
    <span> {{checkboxArr}}</span>

    <br/>
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>

    <br/>
    <select v-model="select1" >
        <option value="a">A</option>
        <option value="b">B</option>
        <option value="c">C</option>
    </select>
    <span>Selected: {{ select1 }}</span>

    <br/>
    <select v-model="select2" multiple>
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <br>
    <span>Selected: {{ select2 }}</span>

    <br/>

    动态选项，用 v-for 渲染：
    <select v-model="select3">
        <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>
    <span>Selected: {{ select3 }}</span>

    <br/>
    //动态属性(把a属性的值绑定到pick1属性中)
    <input type="radio" id="pick1" v-model="pick1" v-bind:value="a">
    <label for="pick1">动态属性</label>
    <h1 v-if="isTrue">H1</h1>
    <h2 v-else>H2</h2>

    <template v-if="isTrue">
        <div style="border:1px solid red;width:400px;height:100px;background-color:#d1eefa">
                <h1>你好，欢迎来到</h1>
        </div>
    </template>
    <input type="input" v-model="input_message" />
</div>
<div id="app2">
    {{message}}
</div>
</body>
<script type="application/javascript"  src="./vue.js"></script>
<script>
    var vm=new Vue({
        el:'#app',
        data:{
            "message":'hello world',
            "seen":true,
            "items":[
                {"name":'zhangsan',"age":12},
                {"name":'lisi',"age":18}
            ],
            "input_message":'hell input',
            "username":null,
            "checkboxArr":[],
            "picked":'Two',
            "pick1":true,
            "a":'a_value',
            "select1":'a',
            "select2":[],
            "select3":null,
            "options":[
                {"text":"安庆","value":"anqing"},
                {"text":"杭州","value":"hangzhou"}
            ],
            "num":5,
            "firstname":"jian",
            "lastname":"wang",
            "style1":{"color":"red","border":"1px solid green"},
            "class1":"class1",
            "class2":"class2",
            "isTrue":[],
            "object1":{"name":"wangjian","age":20},
            "counter":0
        },
        "methods":{
            "dianjidiv":function(event,arg1){
                //    alert('adsf');
                console.log(arg1);
                console.log(event);
                this.message='HH';
                console.log(this.message);
               /* this.items = this.items.filter(function (item) {
                    return item.name.match(/lisi/)
                });*/
            },
            "counterFunc":function(arg1,event){
                this.counter+=1;
                console.log(arg1);
              // event.stopPropagation();
            },
            "enterKeyFunc":function(){
                console.log('enter key');
            }
        },
        "filters":{
            "plus":function(value,step){
                return   (value + step);
            },
            "addboundary":function(value){
                return "---"+value+'----';
            }
        },
        "computed":{
            "calcPro1":function(){
                return  Date.now();
            },
            "fullName":{
                "get":function(){
                    return this.firstname+'---'+this.lastname;
                },
                "set":function(newval){
                    console.log('计算属性:fullName改变了');
                }
            }
        },
        "watch":{
            "message":function(newVal,oldVal){
                console.log('该属性新值为：'+newVal);
            }
        }
    });

    //  console.log(vm.$el);
    // console.log(vm.$data.message);
    //  console.log(vm.$el===document.getElementById('app'));
    // vm.message='HHHHH';
    // console.log(vm.calcPro1);
    vm.$watch('message',function(newVal,oldVal){
        console.log('修改了message变量');
    });
   // var a = Array.prototype.map.call([1,2,3], function(x) { return x+1 });

// var a=   [1,2,3].map(function(x) { return x+1 });
  //  console.log(a);

    var vm2=new Vue({
        "el":"#app2",
        "data":{
            "message":"hello kitty"
        }
    });
</script>
</html>